nav{
    background-color: rgba(43, 61, 226, 0.3);
    text-decoration: none;
    color: aliceblue;
}
.h1-1{
    text-decoration: none;
    color: beige;
}
footer{
    background-color: rgba(43, 61, 226, 0.3);
}